$light-text-color: #fff;
$dark-text-color: #24173d;
$darker-text-color: #5c5c5c;
$color-border-logo-info: #3B393C;

$primary-bg-color: #ffc633;
$secondary-bg-color: #fAc86e;

$main-font-family: 'Montserrat', 'Arial', sans-serif;
$secondary-font-family: 'Work Sans', 'Arial', sans-serif;
$third-font-family: 'Open Sans', 'Arial', sans-serif;
$fourth-font-family: 'Century Gothic', 'Arial', sans-serif;