@use '../main.scss' as *;

.promo {
  width: 100%;
  background: linear-gradient(257.35deg, rgba(45, 35, 72, 0.4) 3.59%, rgba(27, 20, 46, 0) 81.68%), url('../img/bg-promo.jpg');

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 136px;
    justify-content: space-between;
    padding: 56px 70px 221px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 655px;
    color: $light-text-color;
  }

  &__heading-h2 {
    max-width: 655px;
    font: 300 1.813rem/2.41 $main-font-family;
    text-transform: uppercase;
  }

  &__heading-span {
    font: 800 4.188rem/1.04 $main-font-family;
    text-transform: uppercase;
  }

  &__line {
    width: 462px;;
    height: 2px;
    border: 1px solid $light-text-color;
  }

  &__heading-h3 {
    align-self: flex-start;
    font: 700 3.5rem/1.07 $main-font-family;
  }

  &__info-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info-text {
    font: 400 1.5rem/1.375 $main-font-family;
  }

  &__info-text-span {
    font-weight: 700;
  }

  &__info-announced {
    font: 700 1.5rem/1.2 $main-font-family;
    text-transform: uppercase;
  }
}